<div class="row">
    <div class="col mb-3">
        <span>@Child.User.FirstName @Child.User.LastName</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Gender: @Child.User.Gender.Type</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Age: @Child.User.BirthDay</span>
    </div>
</div>