<EditForm Model="Genus" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col mb-2">
            <InputText @bind-Value="Genus.Name" placeholder="Name" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <select class="input" style="cursor: pointer;">
                <option value="0" selected="selected">Mother</option>
                @foreach (var item in Mothers)
                {
                    <option value="@item.Id">@item.User.FirstName @item.User.LastName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <select class="input" style="cursor: pointer;">
                <option value="0" selected="selected">Father</option>
                @foreach (var item in Fathers)
                {
                    <option value="@item.Id">@item.User.FirstName @item.User.LastName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <div class="input" @onclick="() => IsShow = !IsShow" style="cursor: pointer;">
                <div class="mt-2">Children</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (IsShow)
            {
                @if (Children.Count is not 0)
                {
                    <div class="input mb-2">
                        @foreach (var item in Children)
                        {
                            <span class="item mb-2" @onclick="() => AddSelectedChild(item)">@item.User.FirstName @item.User.LastName</span>

                            <br />
                        }
                    </div>
                }
                else
                {
                    IsShow = false;
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            @if (SelectedChildren.Count is not 0)
            {
                <div class="input mb-2">
                    @foreach (var item in SelectedChildren)
                    {
                        <span class="foo">
                            @item.User.FirstName @item.User.LastName
                            <button class="selectedChildClose p-0 mr-3" @onclick="() => RemoveSelectedChild(item)" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </span><br/>
                    }
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn submit" type="submit">Submit</button>
        </div>
    </div>
</EditForm>